.accordion {
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;

  &.large {
    width: 80vw;
  }

  &.medium {
    width: 40vw;
  }

  &.open {
    .accordion-content {
      max-height: 500px;
      ul {
        list-style: none;
        li {
          margin: 10px;
        }
      }
    }
    .accordion-title {
      .chevron {
        transform: rotate(0deg) !important;
      }
    }
  }

  .accordion-title {
    background-color: #FF6060;
    padding: 14px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }

    .chevron {
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;
      svg {
        width: 34px;
        height: 32px;
        fill :none;
      }
      
    }
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: #F6F6F6;
    color: #FF6060;

    p {
      padding: 14px 20px;
    }
  }

  @media screen and (max-width: 768px) {
    &.large,
    &.medium {
      width: auto;
    }
  }
}