.logements {
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  padding: 50px;
  margin: 40px;
  background: #F6F6F6;
  justify-content: space-evenly;

  .logement-box {
    height: 340px;
    width: 340px;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    align-items: end;
    text-decoration: none;
    position: relative;

    &::before {
      content: '';
      background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(255,255,255,0) 30%);
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 10px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10px;
      z-index: 1;
    }

    h3 {
      color: #FFF;
      font-size: 18px;
      font-weight: 500;
      z-index: 3;
      padding: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
    background-color: transparent;

    .logement-box {
      width: 100%;
      height: 255px;
    }
  }
}