
.tags {
  display: flex; 
  .tag {
    color: #fff;
    background-color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    padding: 3px 40px;
    border-radius: 10px;
    margin-right: 10px;
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    .tag {
      margin-bottom: 20px;
    }
  }
}